@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Consumir API com HttpClientFactory</h3>
    <img src="~/images/app-icon.png" alt="Imagem do app cliente" asp-append-version="true">
</div>